html {
    font-family: 'Kosugi Maru', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: auto;
    overflow-x: hidden;
}

body {
    padding: 0;
    overflow: hidden;
    position: relative;
}

main {
    width: 400px;
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: auto 0;
}

img {
    max-width: 100%;
    margin:0;
}

iframe {
    max-width: 100%;

}

h2 {
    text-align: left;
    border-bottom: 2px solid #d0d0d0;
    padding: 5px;
    margin: 0;
    color: black;
}

h3 {
    padding: 10px 0;
    margin: 0px;
}

/* テキストの設定 */
.text {
    padding: 10px;
    margin: auto;
}

/* ロゴの設定 */

.flyon_logo {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0 5px 0 0;
    margin: 0px;
    bottom: -5px;
}

/* ヘッダー */
header {
    background-color: black;
    color: white;

    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

header .material-icons {
    position: relative;
    top: 20px;
    left: 10px;
    color: white;
}


header .logo {
    position: relative;
    width: 227px;
    height: 52px;
    margin: auto;
}

/* フェードアウトするスポンサー */
.advertiser-fadeOut {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 1000px;

    display: none;
    z-index: 2;
    color:black;
}

.advertiser-fadeOut h2 {
    margin: 0 auto;
}

/* ハンバーガー */
.hamburger_list {
    text-align: left;
    background-color: black;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;

    display: none;
    z-index: 3;
    position: fixed;
}

.hamburger_list li {
    padding: 10px;
}

.hamburger_list a {
    font-size: 15px;
    color: white;
}

/* menu */
.menu {
    background-color: #d0d0d0;
    height: 40px;
    position: relative;
    top: 50px;
    width: 100%;
    border-radius: 0px;
    display: none;
}

.menu ul {
    margin: 0 auto;
    height: 100%;

}

.menu li {
    float: left;
    height: 30px;
    width: 20%;
    padding: 5px;
    border-right: 1px solid white;
}

.menu a {
    color: black;
    margin: auto;
}

/* Top */
.top {
    position: relative;
    height: 320px;
    top: 40px;
}

.top_slider li {
    position: relative;
    height: 300px;
}

.top .top_slider img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
}

/* 私たちの活動 */
.activities {
    height: 870px;
    padding: 40px 0 0 0;
}

.activities h3 {
    text-align: left;
}

.activities .text {
    text-align: left;
}

.activities .content .img {
    padding: 10px;
    max-width: 90%;
}

/* ギャラリー */
.gallery {
    height: 170px;
}

.gallery_slider {
    padding: 10px;
}

.gallery .gallery_slider img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 75px;
    padding:0 5px;
}

/* アクセス */
.access {
    height: 650px;
}

.access h3 {
    text-align: left;
}

.access .text {
    text-align: left;
}

.access iframe {
    height: 300px;
    max-width: 95%;
}

/* SNS */
.SNS iframe {
    width: 450px;
    height: 300px;
    max-width: 95%;
}

.SNS .line {
    color: green;
}

.SNS .Line_QR {
    width: 200px;
    height: 200px;
}

.SNS .Podcasts {
    height: 450px;
}

/* カレンダー */
.calendar {
    height: 700px;
}

.calendar iframe {
    max-width: 100%;
}

/* お問い合わせ */
.contact-form {
    position: relative;
    height: 800px;
    top: 60px;
}

.contact-form input {
    width: 300px;
    height: 2em;
}

.contact-form p {
    font-size: 14px;
}

.contact-form .err {
    color: red;
}

/* フッター */
footer {
    background-color:black;
    color: white;

    width: 100%;
    height: 60px;
    display:block;
}


footer a {
    float: right;
    color: white;
    font-size: 10px;
    padding: 5px;
}



/* メディアクエリ */
@media screen and (min-width:750px){
    main {
        width: 1080px;
        max-width: 100%;
        padding: 5px;
    }

    .top {
        width: 100%;
        height: 800px;
    }

    .top_slider li {
        height: 750px;
    }

    .top .top_slider img {
        width: 100%;
    }

    .activities {
        height: 500px;
    }

    .activities .content img {
        max-width: 95%;
        max-height: 400px;
        margin: 2%;
    }

    .activities li {
        float: left;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    .activities .about {
        text-align: center;
    }

    /* ギャラリー */
    .gallery {
        height: 250px;
    }

    .gallery .gallery_slider img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 150px;
        padding:0 5px;
    }

    /* アクセス */
    .access {
        height: 350px;
    }

    .access li {
        float: left;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    .access iframe {
        height: 300px;
        max-width: 100%;
        max-height: 100%;
    }

    /* SNS */
    .SNS .Line_QR {
        width: 360px;
        height: 360px;
    }

    .gallery_slider .slick-prev::before,
    .gallery_slider .slick-next::before {
        color: black;
    }
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../font/MaterialIcons-Regular.woff2) format('woff2'),
      url(../font/MaterialIcons-Regular.woff) format('woff'),
      url(../font/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}